header {
    background: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 12px;
        a{
          text-decoration: none;
          color: inherit;
          font-size: 16px;
        }
      }
    }
    .header-btn{
        background-color: #8B37FF;
        color: #fff;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
    }
  }